<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <div id="parent">
      <article class="channel-information">
        <h1>What is lofi girl?</h1>
        <p>
          Lofi Girl (formerly known as ChilledCow) is a french youtube channel
          and music label created in 2017. It provides 24/7 livestreams of lo-fi
          hip hop music, accompanied by a Japanese-style animation of a girl
          studying or relaxing.
        </p>
      </article>
      <span>Find her at:</span>
      <div class="buttons">
        <a class="a-button" href="https://www.youtube.com/c/LofiGirl">
          Youtube</a
        >
        <a class="a-button" href="https://lofigirl.com/">Website</a>
      </div>
    </div>
  </body>
</html>
