<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <div id="container">
      <div id="title-and-img">
        <h1>Lofi girl</h1>
        <img
          class="lofi-girl"
          src="images/lofi-girl-logo.png"
          alt="lofi girl channel picture"
        />
      </div>
      <div class="buttons">
        <a class="a-button" href="/about"> About her</a>
        <a class="a-button" href="/works">Current bla bla</a>
      </div>
    </div>
  </body>
</html>
